.gran_jagras-icon {
    background-image: url("../../../Imagenes/Iconos monstruos/gran_jagras.webp");
}

.kulu-ya-ku-icon {
    background-image: url("../../../Imagenes/Iconos monstruos/kulu-ya-ku.webp");
}

.pukei-pukei-icon {
    background-image: url("../../Imagenes/Iconos monstruos/Pukei-Pukei.webp");
}

.tobi-kadashi-icon {
    background-image: url("../../Imagenes/Iconos monstruos/Tobi-Kadachi.webp");
}

.anjanath-icon {
    background-image: url("../../Imagenes/Iconos monstruos/anjanath.webp");
}

.rathalos-icon {
    background-image: url("../../Imagenes/Iconos monstruos/rathalos.webp");
}

.barroth-icon {
    background-image: url("../../Imagenes/Iconos monstruos/barroth.webp");
}

.jyuratodus-icon {
    background-image: url("../../Imagenes/Iconos monstruos/jyuratodus.webp");
}

.diablos-icon {
    background-image: url("../../Imagenes/Iconos monstruos/diablos.webp");
}

.rathian-icon {
    background-image: url("../../Imagenes/Iconos monstruos/rathian.webp");
}

.tzitzi-ya-ku-icon {
    background-image: url("../../Imagenes/Iconos monstruos/tzitzi-ya-ku.webp");
}

.paolumu-icon {
    background-image: url("../../Imagenes/Iconos monstruos/paolumu.webp");
}

.legiana-icon {
    background-image: url("../../Imagenes/Iconos monstruos/legiana.webp");
}

.gran_girros-icon {
    background-image: url("../../Imagenes/Iconos monstruos/gran_girros.webp");
}

.radobaan-icon {
    background-image: url("../../Imagenes/Iconos monstruos/radobaan.webp");
}

.odogaron-icon {
    background-image: url("../../Imagenes/Iconos monstruos/odogaron.webp");
}

.zorah_magdaros-icon {
    background-image: url("../../Imagenes/Iconos monstruos/zorah_magdaros.webp");
}

.dodogama-icon {
    background-image: url("../../Imagenes/Iconos monstruos/dodogama.webp");
}

.uragaan-icon {
    background-image: url("../../Imagenes/Iconos monstruos/uragaan.webp");
}

.lavasioth-icon {
    background-image: url("../../Imagenes/Iconos monstruos/lavasioth.webp");
}

.rathian_rosa-icon {
    background-image: url("../../Imagenes/Iconos monstruos/rathian_rosa.webp");
}

.rathalos_celeste-icon {
    background-image: url("../../Imagenes/Iconos monstruos/rathalos_celeste.webp");
}

.diablos_negra-icon {
    background-image: url("../../Imagenes/Iconos monstruos/diablos_negra.webp");
}

.nergigante-icon {
    background-image: url("../../Imagenes/Iconos monstruos/nergigante.webp");
}

.teostra-icon {
    background-image: url("../../Imagenes/Iconos monstruos/teostra.webp");
}

.kushala_daora-icon {
    background-image: url("../../Imagenes/Iconos monstruos/kushala_daora.webp");
}

.vaal_hazak-icon {
    background-image: url("../../Imagenes/Iconos monstruos/vaal_hazak.webp");
}

.kirin-icon {
    background-image: url("../../Imagenes/Iconos monstruos/kirin.webp");
}

.xenojiiva-icon {
    background-image: url("../../Imagenes/Iconos monstruos/xenojiiva.webp");
}

.deviljho-icon {
    background-image: url("../../Imagenes/Iconos monstruos/deviljho.webp");
}

.lunastra-icon {
    background-image: url("../../Imagenes/Iconos monstruos/lunastra.webp");
}

.kulve_taroth-icon {
    background-image: url("../../Imagenes/Iconos monstruos/kulve_taroth.webp");
}

.behemoth-icon {
    background-image: url("../../Imagenes/Iconos monstruos/behemoth.webp");
}

.leshen-icon {
    background-image: url("../../Imagenes/Iconos monstruos/leshen.webp");
}